# ---- CubeIDE metadata ----
.cproject
.project
.mxproject
.settings/
*.launch

# ---- Build artifacts ----
Debug/
Release/
*.o
*.obj
*.d
*.map
*.elf
*.hex
*.bin
*.list
*.su

# ---- Optional: ignore RAM linker if unused ----
STM32L475VGTx_RAM.ld

# ---- OS clutter ----
.DS_Store
Thumbs.db
